html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Mobile first*/
body{
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  margin-top:10px;
  padding:0;
  width:100%;
  background: linear-gradient(
  
   #FED9B7 30%, #FDFCDC
 );
 background-repeat:no-repeat
 
}
.logo{
     width: 10%;
     margin: 0.5em;
   }

.welcome{
  display:flex;
  top:100px;
  justify-content: center;
   color:#0081A7;
   font-family: "Rozha One", serif;
   font-weight: bolder;
   letter-spacing:2px;
   font-size:25px;
   animation:text 3s 1;
 }
 @keyframes text {
   0%{
     
     margin-top: -40px;
   }
   30%{
     letter-spacing: 4px;
     margin-top: -40px;
   }
   
 }
  
  .main-text{
     
      display:flex;
      justify-items:center;
      font-family: "Rozha One", serif;
      font-weight: bold;
       text-align: center ;
       color: #0081A7;
       font-family: 'Times New Roman', Times, serif;  
       padding: 5%;
       margin: 0px;
     }

   .image{
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin: 10px auto;
     background: #026a8a;
     padding:5px;
     width: 90%;
     }
   
     .icons{
     display:flex;
     flex-direction: center;
     width:100%;
   
    }
    #icon{
      animation-duration: 4s;
      animation-name: slidein;
      max-width:40px;
      margin: 10% auto;
      
      -webkit-box-reflect:below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255,255,255,0.2))) ;
 }


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 28px ;
    width: 100%;
  }
}
 
  footer {
  display:flex;
  justify-content: center;
  margin-bottom: 5px;
  color: #0081A7;
  font-family: 'Times New Roman', Times;
  font-size:15px;
   padding: 3px;
   break-after: always;
  }
/* surfplattans storlek--------------------------*/
@media only screen and (min-width: 600px) {
  
  body{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    padding:0;
    width:100%;
    background: linear-gradient(  
     #FED9B7 30%, #FDFCDC
   );
   background-repeat:no-repeat
  }
  .logo{
       width: 10%;
       margin: 0.5em;
     }
  
  .welcome{
    display:flex;
    top:100px;
    justify-content: center;
     color:#0081A7;
     font-family: "Rozha One", serif;
     font-weight: bolder;
     letter-spacing:2px;
     font-size:35px;
     animation:text 3s 1;
   }
   @keyframes text {
     0%{
    
       margin-top: -40px;
     }
     30%{
       letter-spacing: 10px;
      
       margin-top: -40px;
     }
     
   }
    
    .main-text{
        border-radius: 20px;
        display:flex;
        justify-items:center;
        font-family: "Rozha One", serif;
        font-size: x-large;
        font-weight: bold;
         text-align: center ;
         color: #0081A7;
         font-family: 'Times New Roman', Times, serif;  
         
         padding: 5%;
         margin: 20px;
       }
  
     .image{
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin: 10px auto;
       /* border-radius: 15px 50px; */
       background: #026a8a;
       padding:5px;
       width: 90%;
       }
     
         
     .icons{
       display:flex;
       flex-direction: center;
       width:100%;
      }
      #icon{
        animation-duration: 4s;
        animation-name: slidein;
        max-width:40px;
        margin: 10% auto;
        /* Icons reflection*/
        -webkit-box-reflect:below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255,255,255,0.2))) ;
   }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
     margin-left: 10% ;
      width: 100%;
    }
  }
   
    footer {
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
    color: #0081A7;
    font-family: 'Times New Roman', Times;
    font-size:large;
     padding: 3px;
     break-after: always;
    }
 
}
/* stora skärmar-----------------------------------*/
@media only screen and (min-width: 992px) {
  


  body{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10px;
    padding:0;
    width:100%;
    background: linear-gradient(
    
     #FED9B7 30%, #FDFCDC
   );
   background-repeat:no-repeat
   
  }
  .logo{
       width: 10%;
       margin: 0.5em;
     }
  
  .welcome{
    display:flex;
    top:100px;
    justify-content: center;
     color:#0081A7;
     font-family: "Rozha One", serif;
     font-weight: bolder;
     letter-spacing:2px;
     font-size:25px;
     animation:text 3s 1;
   }
   @keyframes text {
     0%{
       
       margin-top: -40px;
     }
     30%{
       letter-spacing: 4px;
       margin-top: -40px;
     }
     
   }
    
    .main-text{
       
        display:flex;
        justify-items:center;
        font-family: "Rozha One", serif;
        font-weight: bold;
         text-align: center ;
         color: #0081A7;
         font-family: 'Times New Roman', Times, serif;  
         padding: 5%;
         margin: 0px;
       }
  
     .image{
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin: 10px auto;
       background: #026a8a;
       padding:5px;
       width: 90%;
       }
     
       .icons{
       display:flex;
       flex-direction: center;
       width:100%;
     
      }
      #icon{
        animation-duration: 4s;
        animation-name: slidein;
        max-width:40px;
        margin: 10% auto;
        
        -webkit-box-reflect:below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255,255,255,0.2))) ;
   }
  
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 28px ;
      width: 100%;
    }
  }
   
    footer {
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
    color: #0081A7;
    font-family: 'Times New Roman', Times;
    font-size:large;
     padding: 3px;
     break-after: always;
    }
}
  