/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#0081A7 10%, #00AFB9);
    font-family: 'Rozha One', serif;
}
ul a{
    text-decoration: none;
    list-style: none;
}

/* NAV BAR (mobile first)*/
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FED9B7;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.nav-list{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 75px;
    text-align: center;
}
.nav-list li{
    display: none;
    transition: 400ms ease-in-out;
    line-height: 5px;
    margin: 50px 0;
    
}
.nav-list li a{
    color: #112A46;
    font-size: 20px;
    text-transform: uppercase;
}
.logo-container{
    margin-right: auto;
    margin-left: 25px;
} 
.logo-txt{
    display: block;
    cursor: pointer;
    font-size: 30px;
    line-height: 75px;
    padding-left: 10px;
    color: #112A46;
}
.hamburger-btn{
    display: block;
    font-size: 30px;
    color: #112A46;
    float: right;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}

/* Hides the dropdown menu on desktop, when not checked */
@media only screen and (max-width: 992px) {
    #check:not(:checked) ~ .nav-list{
        display: none;
    }

}
#check:checked ~ .nav-list{
    height: 100%;
    background-color: #FED9B7;
    z-index: 999;
}
#check:checked ~ .nav-list li{
     display: block; 
}

/* NAVBAR FOR DESKTOP */
@media only screen and (min-width: 992px) {
    .logo-container{
        margin-left: 25px;
    }
    .hamburger-btn{ 
        display: none;
    }
    nav {
        height: 100px;
        background-color: #0081A7;
        
    }
    .nav-list{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        text-align: right;
        margin-right: 25px;
        transition: none;

    }
    .nav-list li{
        display: inline-block;
        line-height: 100px;
        margin: 0 25px;
    }
    .nav-list li a:hover{
        color: white;
        transition: 1s;

    }
    .nav-list li a:active{
        color: white;
        transition: 1s;

    }
    
}

/* ----------------------------- */
/*        My personal site       */
/* ----------------------------- */

.about{
    background-color: #33bbc0;
    background-size: cover;
}
img.roundedCorner{
    border-radius: 50%;
    width: 60%;
    display: flex;
    margin: 20% auto; 
    position: relative;
    top: 3.5rem;
} 

.name{
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 1rem;
    margin: auto;

}
.personal-info{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 200px;
    Margin: auto;
    
} 
.btn-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.btn{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 1.25rem;
    position: relative;
     margin: 20px; 
     background-color: #FDFCDC;
     color: #333333;
     border-radius: 30px;
     transition: transform 0.3s ease;
    
}

/* FOR DESKTOP */
@media only screen and (min-width: 992px) {

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img.roundedCorner{
        border-radius: 50%;
        width: 400px;
        display: block;
        margin: 20% 0%;
    } 
    .name{
        margin-top: 20%;
        justify-content: center;
        position: relative;
        right: 4rem;
    }
    .personal-info{
        display: inline-block;
        justify-content: center;
        padding: 3rem;
        width: 400px;
        Margin: 20px;
        position: relative;
        bottom: 50px;

    } 


}