*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*FONT*/
h1, h4, h2 {
  font-family: "Rozha One", serif;
}

h3, h5 {
  font-family: "Times New Roman", Times, serif;
}

.project-title {
  font-family: "Times New Roman", Times, serif;
}
/*Denna satte bakgrund på allt och text högst upp i mitten*/
#projects-section {

  display: flex;
  flex-direction: column; /*ändrar allt*/
  align-items: center; /*ändrar text över bild*/
}
/*Denna gör så att länk (bild och text) ligger i mitten*/
.project-project-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Sätter storleken på bilden*/
img {
  max-width: 80%;
  height: auto;
}

#welcome-section {
  margin-top: 7rem;
  text-align: center;
}

#contact-us-section {
  background-color: #f07167;
}
.project-text {
  width: 80%;
}

@media only screen and (min-width: 992px) {
  
  }


  

  


